/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-line-height : 1.5; */
}

/* $dark-background: #6b717f; */
/* $dark-text: #d2e1dd; */
/* MIXINS */
button, hr, input {
  overflow: visible;
}

progress, sub, sup {
  vertical-align: baseline;
}

[type=checkbox], [type=radio], legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

details, main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
} /* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/open-sans-v34-latin-500.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* line-height: var(--main-line-height); */
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.site-header__center {
  padding-top: 40px;
  padding-bottom: 48px;
}

.form__button {
  position: relative;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  border-left: 1px solid #D1D1D1 !important;
  border-top: 1px solid #D1D1D1 !important;
  border-bottom: 1px solid #D1D1D1 !important;
  border-right: 1px solid transparent !important;
}
.form__button::after {
  position: absolute;
  right: 8px;
  top: 18px;
  content: "";
  background-image: url("../images/form-dropdown-icon.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 13px;
}

.form {
  width: 100%;
  max-width: 500px;
}

.form-control {
  -webkit-appearance: none !important;
  position: relative;
  border-left: 1px solid transparent;
}

.form-control[type=search]::-webkit-search-decoration,
.form-control[type=search]::-webkit-search-cancel-button,
.form-control[type=search]::-webkit-search-results-button,
.form-control[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form__search {
  position: absolute;
  right: 20px;
  top: 14px;
  background-image: url("../../images/search-icon.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
  z-index: 10;
}
.form__search::before {
  position: absolute;
  top: -3px;
  left: -293px;
  width: 1px;
  height: 20px;
  background-color: #D1D1D1;
  content: "";
}

.badge-my {
  background-color: #E5704B;
  z-index: 11;
}

.badge-parent {
  z-index: 10;
}

.site-header__bottom {
  position: relative;
  background-color: #F9F9F9;
}

.site-header__list {
  margin-right: 133px;
}

.site-header__item {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}
.site-header__item::after {
  position: absolute;
  right: -20px;
  top: 22px;
  background-image: url("../../images/list-icon.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  content: "";
}

.form__users {
  padding-bottom: 15px;
}

.site-header__sublist {
  display: none;
  width: 100%;
  padding-top: 20px;
  background-color: #D1D1D1;
  text-align: center;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.site-header__sublist > li {
  margin-bottom: 10px;
}

.site-header__item:hover .site-header__sublist {
  display: block;
}

.form__list {
  display: none;
  width: 170px;
  background-color: #D1D1D1;
  text-align: center;
}

.form__button:active .form__list {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .site-header__list {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 850px) {
  .form {
    width: 400px;
  }
  .form-control::-webkit-input-placeholder {
    width: 60%;
  }
  .form-control::-moz-placeholder {
    width: 60%;
  }
  .form-control:-ms-input-placeholder {
    width: 60%;
  }
  .form-control::-ms-input-placeholder {
    width: 60%;
  }
  .form-control::placeholder {
    width: 60%;
  }
  .site-header__list {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    overflow-x: auto;
  }
  .site-header__item {
    margin-right: 50px;
  }
  .site-header__item:nth-child(2) {
    min-width: 156px;
  }
  .site-header__item:nth-child(3) {
    min-width: 113px;
  }
  .site-header__item:nth-child(6) {
    min-width: 134px;
  }
  .form__search::before {
    left: -195px;
  }
}
@media only screen and (max-width: 750px) {
  .form__users {
    padding-bottom: 0px;
  }
  .site-header__top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-header__center {
    margin-top: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 436px) {
  .form {
    width: 300px;
  }
  .form__search::before {
    left: -100px;
  }
}
@media screen and (max-width: 400px) {
  .site-header__top-wrapper > a {
    font-size: 14px;
  }
}
.category-menu {
  padding-top: 64px;
}

.category-menu__heading {
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.category-menu__link {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 179px;
  margin-top: 35px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-right: 38px;
  padding-left: 16px;
  background: #F5F5F5;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  text-decoration: none;
}
.category-menu__link::after {
  position: absolute;
  right: 13px;
  top: 15px;
  width: 16px;
  height: 16px;
  background-image: url("../images/category-link-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.category-menu__card {
  width: 100%;
  max-width: 420px;
  margin-right: 31px;
  background-image: url("../images/category-bg.jpg");
  background-repeat: no-repeat;
}
.category-menu__card:last-child {
  margin-right: 0;
}/*# sourceMappingURL=main.css.map */