.category-menu{
    padding-top: 64px;
}

.category-menu__heading{
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;    
    line-height: 27px;
    color: #151515;
}

.category-menu__link{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 179px;
    margin-top: 35px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-right: 38px;
    padding-left: 16px;
    background: #F5F5F5;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    text-decoration: none;
    &::after{
        position: absolute;
        right: 13px;
        top: 15px;
        width: 16px;
        height: 16px;
        background-image: url("../images/category-link-icon.svg");
        background-repeat: no-repeat;
        content: "";
    }
}

.category-menu__card{
    width: 100%;
    max-width: 420px;
    margin-right: 31px;
    background-image: url("../images/category-bg.jpg");
    background-repeat: no-repeat;
    &:last-child{
        margin-right: 0;
    }
}