.slider{
    padding-top: 142px; 
}

.slider-list{
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    list-style: none;
}

.slider-item{
    position: relative;
    width: 369px;
    margin: 0 32px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;
    text-align: center;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    &::after{
        position: absolute;
        top: 206px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-image: url("../images/slider-imag.png");
        background-repeat: no-repeat;
        width: 48px;
        height: 48px;
        content: "";
    }
}

.slider-desc{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #A9A9A9;
}

.prev-btn{
    top: 30%;
    border: none;
    background-color: transparent;
}

.next-btn{
    right: 0;
    top: 10%;
    border: none;
    background-color: transparent;
}
